aws.txt
test.py
RSS/python
Infra/.terraform
Infra/terraform.*
.terraform.*
*.zip
*.ipynb
lambda_layers/*
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json